__pycache__
.pytest_cache
.coverage
coverage.xml
dist
ccguard.egg-info
build
.tox
env
cc.html
diff.html
ccguard.db
venv
notes
todo
.mypy_cache
cc-dcba.html
diff-abcd-dcba.html
ccguard/test_data/convert/go-coverage.xml
ccguard/test_data/sample_coverage-1.xml
